### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

## Build output:
*.pdf
!cv.pdf
!resume.pdf
.build/

## Font generation logs:
missfont.log

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
*.DS_Store
